{% extends "template.html" %}

{% block title %} Add a Story {% endblock %}

{% block body %}

{% block header %} {% endblock %}

    <form method = "GET" action = "/addPage" id = "add">
        Story Title: <input type="text" name="storyTitle"><br> <br>
        Text: <br>
        <textarea rows = "25" cols = "100" name = "text" form = "add"></textarea> <br>
        <input type="submit" name="submit" value = "Create story">
    </form>
    <br>

    <form action = "/">
        <input type = "submit" value = "Go back to homepage" />
    </form>
{% endblock %}
