{% extends "template.html" %}

{% block title %} Oreos {% endblock %}

{% block body %}
    <h1> Welcome </h1>
    <h2> Join to start your adventure! </h2>
    {% for message in get_flashed_messages() %}
        <b> {{ message }} </b> <br>
    {% endfor %}
    <br>

    <form method = "GET" action = "/login">
        Username: <input type="text" name="username"><br> <br>
        Password: <input type="password" name="password"><br> <br>
        <input type="submit" name="submit" value = "Login">
    </form>
    <br>

    <form method = "GET" action = "/register">
        <input type = "submit" name="submit" value = "Register">
    </form>
{% endblock %}
