{% extends "template.html" %}

{% block title %} Welcome! {% endblock %}

{% block head %} <h1> Welcome {{username}} </h1> {% endblock %}

{% block body %}
    Edited Stories:
    <form method = "GET" action = "/viewAll">
        <select name = "stories">
            {% for story in editedStories %}
                <option value= story> {{story}} </option>
            {% endfor %}
        </select>
    </form>

    <form action = "/viewLatest">
        <input type = "submit" value = "View Story" />
    </form>
    <br>

    <form action = "/addForm">
        <input type = "submit" value = "Add Story" />
    </form>

    Unedited Stories:
    <form method = "GET" action = "/view">
        <select name = "stories">
            {% for story in unEditedStories %}
                <option value = story> {{story}} </option>
            {% endfor %}
        </select>
    </form>
    <form action = "/viewLatest">
        <input type = "submit" value = "View Story" />
    </form>
    <br>

    <form action = "/logout">
    <input type = "submit" value = "Logout" />
    </form>
{% endblock %}
