{% extends "template.html" %}

{% block title %} Welcome! {% endblock %}

{% block body %}
    Welcome (username)
    <br>
    (Form for making new story)
    <br>
    <form method = "GET" action = "/view">
        <select name = "stories">
            {% for story in LISTPLACEHOLDER %}
                <option value= story> story </option>
            {% endfor %}
        </select>
    </form> 
    <br>
    (Dropdown for viewing non contributed stories)
    <br>
    (logout button)
{% endblock %}
