{% extends "template.html" %}

{% block title %} Welcome! {% endblock %}

{% block head %} <h1> Welcome {{username}} </h1> {% endblock %}

{% block body %}
    <form method = "GET" action = "/view">
        <select name = "stories">
            {% for story in LISTPLACEHOLDER %}
                <option value= story> story </option>
            {% endfor %}
        </select>
    </form>

    <form action = "/view">
        <input type = "submit" value = "View Story" />
    </form>
    <br>

    <form action = "/addForm">
        <input type = "submit" value = "Add Story" />
    </form>

    <form method = "GET" action = "/view">
        <select name = "stories">
            {% for story in LIST2PLACEHOLDER %}
                <option value= story> story </option>
            {% endfor %}
        </select>
    </form>
    <br>
    
    <form action = "/logout">
    <input type = "submit" value = "Logout" />
    </form>
{% endblock %}
