{% extends "template.html" %}

{% block title %} Register {% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <b> {{ message }} </b> <br>
    {% endfor %}
    <form method = "GET" action = "/processRegistration">
        Username: <input type="text" name="username"><br> <br>
        Password: <input type="password" name="password"><br> <br>
        Email: <input type="text" name="email"><br> <br>
        <input type="submit" name="submit" value = "Create Account">
    </form>
    <br>

    <form action = "/">
        <input type = "submit" value = "Go back" />
    </form>
{% endblock %}
