<!DOCTYPE HTML>

<html>

<head>
    <style>
        body {
        }
    </style>
  <title>
    {% block title %}{% endblock %}
  </title>
  {% block head %}{% endblock %}
</head>

<body>
  {% block header %}
  <h1> Welcome </h1>
  <h2> Join to start your adventure! </h2>
  {% endblock %}
  {% block body %}{% endblock %}
</body>

<footer>
    <br>
    <hr>
    Team Cookies-nCream
    <br>
    Abedin Mohidul, Chen Justin, Moses Brian, Olin Jacob
</footer>

</html>
